<ol id="entries">
  {{#each this}}
  <li class="entry">
      <p class="date"> &#183; {{entry_date}}</p>
      <p class="tags">
        {{#each tag}}
          <span class="tag">{{tag_name}}</span>
        {{/each}}
      </p>
      <p class="weight">{{entry_weight}} lbs</p>
      <p>{{entry_text}}</p>
    </li>  
  {{/each}}
</ol>