<form id="entry-form" class="form">
  <article class="input-wrapper form-details" id="entry-date">
    <label for="date">Date</label>
    <input
      class="input"
      name="date"
      id="date"
      type="date"
      value="{{entry_date}}"
      required
    />
  </article>

  <article class="input-wrapper form-details" id="entry-weight">
    <label for="weight">weight</label>
    <div>
      <input
        class="input"
        name="weight"
        type="number"
        id="weight"
        max="500"
        step="0.1"
        value="{{entry_weight}}"
        required
      />
      <span>lbs</span>
    </div>
  </article>

  <article class="input-wrapper" id="entry-text">
    <label for="text">notes <span id="char-count">0</span>/300</label>
    <textarea
      class="input"
      name="entry-text"
      id="text"
      maxlength="300"
    >{{entry_text}}</textarea>
  </article>

  <article class="input-wrapper" id="entry-tags">
    <label for="tag-name">tags <span style="font-size: 1rem;">(seperated by commas)</span></label>
    <input
      class="input"
      name="tag-name"
      id="tag-name"
      type="text"
      placeholder="rowing, lifting, etc..."
      value="{{#each tags}}{{tag_name}}, {{/each}}"
    />
  </article>

  <article class="button-wrapper">
    <svg class="icon-wrapper page-icon submit-btn" id="add-entry-btn">
      <image class="icon" xlink:href="/icons/add-solid.svg" />
    </svg>
  </article>
</form>