<ol id="entries">
  {{#each this}}
  <li class="entry">
      <p class="date">{{entry_date}}</p>
      <p class="weight">{{entry_weight}} lbs</p>
      <p class="notes">{{entry_text}}</p>
      <p class="tags">
        {{#each tags}}
          <span class="tag">{{tag_name}}</span>
        {{/each}}
      </p>
    </li>  
  {{/each}}
</ol>