<form id="entry-form">
  <div class="form-details" id="entry-date">
    <label for="date">date</label>
    <input
      class="input"
      name="date"
      id="date"
      type="date"
      value="{{entry_date}}"
      required
    />
  </div>

  <div class="form-details" id="entry-weight">
    <label for="weight">weight</label>
    <input
      class="input"
      name="weight"
      type="number"
      id="weight"
      max="999.9"
      step="0.1"
      value="{{entry_weight}}"
    />
  </div>

  <div id="entry-text">
    <label for="text">notes</label>
    <textarea
      class="input"
      name="entry-text"
      id="text"
    >{{entry_text}}</textarea>
  </div>

  {{!-- {{#if is_edit_entry_page}} --}}
  <div id="entry-tags">
    <label for="tag-name">tags</label>
    <input
      class="input"
      name="tag-name"
      id="tag-name"
      type="text"
      placeholder="tag 1; tag 2; tag 3; etc..."
    />
  </div>
  {{!-- {{/if}} --}}

    <article class="button-wrapper">
      <svg class="icon-wrapper page-icon submit-btn" id="add-entry-btn">
        <image class="icon" xlink:href="/icons/add-solid.svg" />
      </svg>
    </article>
  </form>