<link rel="stylesheet" href="/css/login.css" />
<script defer src="/javascript/login.js"></script>

<form id="login-form" class="form">
  <h2>Log in</h2>

  <div class="credentials">
    <label for="username-login">username</label>
    <input class="input" type="text" id="username-login" />

    <label for="password-login">password</label>
    <input class="input" type="password" id="password-login" />    
  </div>

  <button type="submit" class="btn login-btn">log in</button>
</form>

<form id="signup-form" class="form">
  <h2>Sign up</h2>

  <div class="credentials">
    <label for="username-signup">username</label>
    <input class="input" type="text" id="username-signup" />

    <label for="password-signup">password</label>
    <input class="input" type="password" id="password-signup" />
  </div>
  
  <button type="submit" class="btn login-btn">sign up</button>
</form>