  <form class="form" id="tag-form">
    <article class="input-wrapper">
      <label for="tag-name">tag <span id="char-count">0</span>/20</label>
      <input class="input" id="tag-name" maxlength="20" value="{{tag_name}}" />
    </article>

    <article class="button-wrapper btn">
      <svg class="icon-wrapper page-icon submit-btn" id="save-btn">
        <image class="icon" xlink:href="/icons/add-solid.svg" />
      </svg>
    </article>
  </form>