<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fitness-logbook</title>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    {{!-- modularization | rendering view-specific stylesheets --}}
    {{{customstyle}}}
    <script defer src="/javascript/copyright.js"></script>
    {{#if loggedIn}}
      <script defer src="/javascript/logout.js"></script>
    {{/if}}
  </head>

  <body>
    <header>
      <h1>Fitlog</h1>
      {{#if loggedIn}}
      <nav class="nav-links">
          {{!-- <a class="btn" id="add-btn" href="/add-journal">add</a> --}}
        <a href="/">
          <svg class="icon-wrapper">
            <image class="icon" xlink:href="/icons/book-solid.svg"/>
          </svg>
        </a>  
        <a href="/">
          <svg class="icon-wrapper">
            <image class="icon" xlink:href="/icons/tags-solid.svg"/>
          </svg>
        </a>
        <a href="/">
          <svg class="icon-wrapper">
            <image class="icon" xlink:href="/icons/profile-solid.svg"/>
          </svg>
        </a>  
        <a href="/" id="logout">
          <svg class="icon-wrapper">
            <image class="icon" xlink:href="/icons/logout-solid.svg"/>
          </svg>
        </a>  
      </nav>
      {{/if}}
    </header>

    <main>
      {{#if loggedIn}}
        {{{body}}}
      {{else}}
        {{> login }}
      {{/if}}
    </main>

    <footer>
      <p>
        &copy;<span id="year"></span>
        by
        <a href="https://github.com/escowin/fitness-logbook" target="_blank">edwin m. escobar</a>
      </p>        
    </footer>
  </body>
</html>