<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <header>
      <h1>
        <a href="/">The Tech Blog</a>
      </h1>
      <nav>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Logout</a></li>
          </ul>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <h2>
        <a href="https://github.com/escowin/tech-blog">14 | Model-View-Controller (MVC) Challenge</a>
      </h2>
      <p>&copy; 2022 Edwin Escobar</p>
    </footer>
  </div>

</body>

</html>