<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CMS Blog · an exercise in mvc</title>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    {{!-- modularization | rendering view-specific stylesheets --}}
    {{{customstyle}}}
    <script defer src="/javascript/copyright.js"></script>
    {{#if loggedIn}}
      <script defer src="/javascript/logout.js"></script>
    {{/if}}
  </head>

  <body>
    <header>
      <h1>
        <a href="/">CMS Blog<span class="display-md"> · an exercise in mvc</span></a>
      </h1>
      <nav>
        {{#if loggedIn}}
          <a id="dashboard" href="/dashboard">dashboard</a>
          <button id="logout">log out</button>
        {{else}}
          <a href="/login">log in</a>
        {{/if}}
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      &copy;<span id="year"></span>
      by
      <a href="https://github.com/escowin/cms-blog" target="_blank">Edwin m. escobar</a>
    </footer>
  </body>
</html>