{{!-- custom stylesheet --}}
<link rel="stylesheet" href="/css/dashboard.css">
<script defer src="/javascript/add-journal.js"></script>

{{!-- controllers | dashboard | get route --}}
{{!-- populates the dashboard view with user-created posts --}}
{{#if journals.length}}
<section>
    <h2>Journals (/dashboard)</h2>
    <article class="journals">
        {{#each journals as |journal|}}
            {{> journal-info journal}}
        {{/each}}
    </article>
</section>
{{/if}}