<article class="card">
    <section class="card-header">
        <h2>Edit post</h2>
    </section>
    <form class="card-body">
        <label>Title</label>
        <input type="text" class="input">

        <label>Content</label>
        <input type="text" class="input">

        <button>Update Post</button>
        <button>Delete</button>
    </form>
</article>