<script defer src="/javascript/edit-entry.js"></script>

<h3>Edit entry</h3>
<section>
    {{> entry-form entry }}
    <button class="btn" id="delete-btn">delete</button>
    <button class="btn" id="back-btn">back</button>
</section>