<script defer src="/javascript/edit-journal.js"></script>

<section class="section">
    <h3>Edit journal</h3>
    {{> journal-form journal}}
    <button class="btn form-btn" id="delete-btn">delete</button>
    <button class="btn form-btn" id="back-btn">back</button>
</section>
