{{!-- html with nested partial --}}
<section class="section form-section edit-view" data-tag-id="{{tag.id}}">
    <h2 class="section-header">Edit tag</h2>
    {{> tag-form tag }}
    <button class="btn form-btn" id="delete-btn">delete</button>
    <button class="btn form-btn" id="back-btn">back</button>
</section>