<script defer src="/javascript/edit-entry.js"></script>
<script defer src="/javascript/comment.js"></script>

<article>
    <button class="btn" id="delete-btn">delete</button>
    edit entry view
</article>