<script defer src="/javascript/edit-entry.js"></script>

<section class="section">
    <h3>Edit entry</h3>

    {{> entry-form entry }}
    <button class="btn form-btn" id="delete-btn">delete</button>
    <button class="btn form-btn" id="back-btn">back</button>
</section>