<h2 class="homepage-header">Latest posts</h2>
<ul class="posts-list">
  {{#each posts as |post|}}
    <li>
      {{!-- rendering the partial --}}
      {{> post-info post }}
    </li>
  {{/each}}
</ul>