{{!-- custom stylesheet --}}
<link rel="stylesheet" href="/css/homepage.css">

<section class="journals section">
  <h2 class="section-header">Journals homepage</h2>

  {{#each journals as |journal|}}
      {{!-- rendering the partial --}}
      {{> journal-info journal }}
  {{/each}}
</section>