{{!-- custom stylesheet --}}
<link rel="stylesheet" href="/css/homepage.css">

<h2 class="homepage-header">Journals homepage</h2>
<section class="journals">
  {{#each journals as |journal|}}
      {{!-- rendering the partial --}}
      {{> journal-info journal }}
  {{/each}}
</section>