{{!-- stylesheet & javascript --}}
<link rel="stylesheet" href="/css/homepage.css">
<script defer src="/javascript/add-journal.js"></script>
<script defer src="/javascript/delete-journal.js"></script>

{{!-- html --}}
<section class="form-section">
  <h2 class="section-header">Add journal</h2>
  {{> journal-form }}
</section>

<section class="list-section journals-section">
  <h2 class="section-header">Current {{format_plural "journal" journals}}</h2>
  <ul class="list" id="journals">
  {{#each journals as |journal|}}
    {{> journal-info-min journal }}
  {{/each}}
  </ul>
</section>