{{!-- custom stylesheet --}}
<link rel="stylesheet" href="/css/homepage.css">

<h2 class="homepage-header">Journals</h2>
<ul class="posts-list">
  {{#each journals as |journal|}}
    <li>
      {{!-- rendering the partial --}}
      {{> journal-info journal }}
    </li>
  {{/each}}
</ul>