<article class="card">
    <section class="card-header">
    <h2>Login</h2>
    </section>
    <form class="card-body">
        <label>Username</label>
        <input type="text" class="form-input" name="username">
        <label>Password</label>
        <input type="text" class="form-input" name="password">
        <button>Login</button>
        <a href="/">Sign up instead</a>
    </form>
</article>