{{!-- html --}}
<section id="profile-section">
  <h2 class="section-header">profile</h2>
  <article id="profile-details">
    <h3>{{user.username}}</h3>
    <p>journals</p> <a href="/">{{user.journals.length}}</a>
    <p>entries</p> <a href="#">{{user.entries.length}}</a>
  </article>
</section>