{{!-- html --}}
<section>
  <h2>profile</h2>
  <p>username value</p>
  <p>journals: {{journals.length}}</p>      
  <p>entries: entries.length value</p>
  <p>tags: tags.length value</p>
  <p>meal prep</p>
</section>