{{!-- html --}}
<section class="section">
  <h2 class="section-header">profile</h2>
  <p>{{user.username}}</p>
  <p>journals: <a href="/">{{journals.length}}</a></p>      
  <p>entries: <a href="#">{{user.}}</p>
  <p>tags: tags.length value</p>
  <p>meal prep</p>
</section>