<article class="card">
    <section class="card-header">
    <h2>Sign Up</h2>
    </section>
    <form class="card-body">
        <label>Username</label>
        <input type="text" class="form-input" name="username">
        <label>Password</label>
        <input type="text" class="form-input" name="password" placeholder="*******">

        <button>Sign Up</button>
        <a href="/">Login instead</a>
    </form>
</article>