{{! custom stylesheet }}
<link rel="stylesheet" href="/css/single-journal.css" />

{{#if loggedIn}}
<script defer src="/javascript/add-entry.js"></script>
{{/if}}

<section>
  {{> journal-info journal}}
</section>

{{!-- entry form --}}
{{#if loggedIn}}
  {{> add-entry}}
{{/if}}

{{!-- partial | entries.handlebars--}}
<section id="entries-section">
  <h3>Entries</h3>
  {{> entries journal.entries }}
</section>
