{{! custom stylesheet }}
<link rel="stylesheet" href="/css/single-journal.css" />
<link rel="stylesheet" href="/css/partial-entry-form.css" />
<link rel="stylesheet" href="/css/partial-entries.css" />

{{#if loggedIn}}
<script defer src="/javascript/add-entry.js"></script>
{{/if}}

{{!-- partials populate each section --}}
<section id="journal-header">
  {{> journal-info journal}}
</section>

<section class="section" id="form-section">
  <h3 id="form-header">New entry</h3>
  {{#if loggedIn}}
    {{> entry-form}}
  {{/if}}
</section>

<section class="section" id="entries-section">
  <h3>Entries</h3>
  {{> entries journal.entries }}
</section>
