<article class="card">
    <section class="card-header">
        <h2>{{post.header}}</h2>
        <div class="credits">
            Posts by {{user.username}} on {{post.date}}
        </div>
    </section>
    <section class="post-contents">
        {{post.contents}}
    </section>
</article>