{{! custom stylesheet }}
<link rel="stylesheet" href="/css/single-journal.css" />

{{#if loggedIn}}
<script defer src="/javascript/add-entry.js"></script>
{{/if}}

<section>
  {{> journal-info journal}}
</section>

{{!-- entry form --}}
{{#if loggedIn}}
  <form id="entry-form">
    <h3>New entry</h3>

    <div class="details" id="entry-date">
      <label for="date">date</label>
      <input name="date" id="date" type="date" required />
    </div>

    <div class="details" id="entry-weight">
      <label for="weight">weight</label>
      <input name="weight" type="number" id="weight" max="999.9" step="0.1" />
    </div>

    <div id="entry-text">
      <label for="text">notes</label>
      <textarea name="entry-text" id="text"></textarea>
    </div>

    <button type="submit" class="btn add-btn">+ entry</button>
  </form>
{{/if}}

{{!-- partial | entries.handlebars--}}
<section>
  {{> entries journal.entries }}
</section>
