{{! custom stylesheet }}
<link rel="stylesheet" href="/css/single-journal.css" />
<link rel="stylesheet" href="/css/partial-entry-form.css" />
<link rel="stylesheet" href="/css/partial-entries.css" />

{{#if loggedIn}}
<script defer src="/javascript/add-entry.js"></script>
{{/if}}

{{!-- partials populate each section --}}
<section class="form-section" id="form-section">
  <h2 class="section-header" id="form-header">Add entry</h2>
  {{#if loggedIn}}
    {{> entry-form }}
  {{/if}}
</section>

<section class="list-section" id="entries-section">
  <h2 class="section-header">Current entries</h2>
  <ol class="list" id="entries">
  {{#each journal.entries as |entry|}}
    {{> entry-info entry }}
  {{/each}}
  </ol>
</section>

<section id="journal-header">
  <h2 class="section-header">{{journal.title}}</h2>
  {{> journal-info journal}}
</section>