<section class="form-section">
  <h2 class="section-header">Add tag</h2>
  {{> tag-form tag}}
</section>

<section class="list-section" id="tags-section">
  <h2 class="section-header">Current tags</h2>
  <ul class="list" id="tags">
    {{#each tags}}
      <li class="item tag" data-tag-id="{{id}}">
        <a href="/tags/edit/{{id}}">{{tag_name}}</a>

        <svg class="icon-wrapper delete-btn">
          <image class="icon" xlink:href="/icons/delete-solid.svg" />
        </svg>
      </li>
    {{/each}}
  </ul>
</section>