main {
    padding: var(--indent);
    gap: 1rem;
}

.form-h2 {
    background: var(--secondary);
    /* math maintains 1:2 ratio */
    padding-left: calc(var(--indent)*2);
}

@media screen and (min-width: 1024px) {
    #new-post-form {
        padding: 0 0 0 .5rem;
    }
    ol {
        display: grid;
        /* flex-direction: auto auto;  */
        grid-template-columns: repeat(4, auto);
        gap: 1rem;
    }

    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* header cuts off after 1 line */
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .content {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    textarea {
        height: 25vh;
    }
}