.journals {
    margin: var(--indent) 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem
}

.journal {
    background-color: var(--secondary);
    padding: 0 var(--indent)
}

.details {
    padding-left: var(--indent);
}