* {
    /* outline: 1px dotted blue; */
}


main {
    padding: .5rem 0;
}

.homepage-header {
    background: var(--secondary);
    box-shadow: inset 0 0 1rem var(--primary), 0 0 1rem var(--secondary);
    border-radius: .5rem 0 0 .5rem;

    /* math maintains 1:2 ratio */
    --indent: .5rem;
    margin-left: var(--indent);
    padding-left: calc(var(--indent)*2);
}