main {
    padding-top: var(--indent-sm);
}

.journals ul {
    gap: 1rem;
    height: 100%;
}

.journal {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: var(--secondary);
    padding: var(--section-indent);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: .5rem;
}

.journal a {
    height: max-content;
    margin-top: .25rem;
}

.journal-description {
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--overlay-dark);
    padding-left: var(--indent-sm);
}

.title {
    grid-column: span 2;
}

.description {
    font-size: 110%;
}

.journal-details {
    display: flex;
    flex-direction: column;
    font-size: 85%;
    align-items: flex-end;
    padding-right: .5rem;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}