/* ol | .list */
.journal-description {
    display: flex;
    flex-direction: column;
}

.title {
    grid-column: span 2;
}

.description {
    font-size: 110%;
}

.journal-details {
    display: flex;
    flex-direction: column;
    font-size: 85%;
    align-items: flex-end;
    padding-right: .5rem;
}

#journal-end {
    height: 1.75rem;
    padding: calc(var(--indent-sm)/2) var(--indent);
    border-radius: 1rem;
    font-size: 95%;
    font-weight: bold;
}

@media screen and (min-width: 768px) {

    #journal-form-details {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    textarea {
        height: 10rem;
    }

    #journal-end {
        min-height: 2.75rem;
        font-size: 75%;
    }
}

@media screen and (min-width: 1024px) {

    main {
        display: grid;
        grid-template-columns: 22.5rem auto;
    }

    #journal-end {
        min-height: 1.85rem;
        font-size: 60%;
    }
}