@media screen and (min-width: 768px) {

    /* body divs */
    main {
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "cc bb"
        "aa bb";
    }

    /* main divs */
    #form-section {
        grid-area: aa;
    }

    #entries-section {
        grid-area: bb;
    }

    #journal-header {
        background-color: transparent;
        grid-area: cc;
        display: flex;
        flex-direction: column;
    }

    /* - section | journal-header */
    #journal-header .section-header {
        width: 100%;
    }

    .journal {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 0 var(--space);
        align-items: flex-start;
        padding-left: var(--space);
    }

    .journal-details {
        font-size: 50%;
        text-align: end;
    }

    .wrapper {
        padding-bottom: var(--space);
    }

    .description {
        grid-area: 1 / 2 / -1 / -1;
        font-size: 90%;
    }

    /* section | entry list */
    #entries-section {
        height: 100%;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        align-items: flex-end;
    }
}