.form {
    padding: 5vw;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.form h2 {
    background: var(--secondary);
    /* math maintains 1:2 ratio */
    padding-left: calc(var(--indent)*2);
    width: 100%;
}

.login {
    margin-top: .5rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 25vw auto;
    gap: .25rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn {
    grid-column: span 2;
    width: 75vw;
}