main {
    padding: var(--indent);
    gap: 1rem;
}

.form {
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.75rem;
    padding: var(--indent) var(--indent-sm);
    gap: var(--indent);
}

.form h2 {
    color: var(--text-light);
    text-align: center;
    border-bottom: 2px solid var(--secondary);
    padding: 0 calc(var(--indent)*2);
}

.credentials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: var(--text-light);
    font-size: 2rem;
}

label {
    padding-left: 1rem;
}

input {
    font-size: 2rem;
    border-top-left-radius: var(--corners);
    border-bottom-left-radius: var(--corners);
    padding: .25rem 1rem;
    width: 100%;
}

.login-btn {
    background-color: var(--secondary);
    width: 80%;
    font-size: 2rem;
    /* margin: 1rem 0 2rem 0; */
    border-radius: var(--corners);
}

.login-btn:active {
    background-color: var(--link);
}

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        --spacing: calc(var(--indent) * 2);
        padding: var(--spacing);
        gap: var(--spacing);
    }

    .form {
        border-radius: 2rem;
        background-color: var(--overlay-dark);
        padding: var(--indent-sm) var(--indent);
    }

    input {
        border-radius: var(--corners);
    }
}

@media screen and (min-width: 1024px) {
    main {
        gap: 2rem;
    }

    .form h2 {
        width: 75%;
    }

    .form button {
        width: 100%;
    }
}