/* body */
main {
    padding: var(--space);
    gap: var(--space); /* overrides style.css:89 */
}

/* main */
/* .logged-out-form */
.form {
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.75rem;
    padding: var(--space) var(--space-sm);
    gap: var(--space);
}

.form h2 {
    text-align: center;
    border-bottom: 2px solid var(--secondary);
    padding: 0 calc(var(--space)*2);
}

.credentials {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

/* button styles */
.login-btn {
    background-color: var(--secondary);
    width: 80%;
    font-size: 2rem;
    border-radius: var(--corners);
}

.login-btn:active {
    background-color: var(--link);
}

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        --spacing: calc(var(--space) * 2);
        padding: var(--spacing);
        gap: var(--spacing);
    }

    .form {
        border-radius: 2rem;
        padding: var(--space-sm) var(--space);
    }

    input {
        border-radius: var(--corners);
    }
}

@media screen and (min-width: 1024px) {
    main {
        gap: calc(var(--space)*2);
    }

    .form h2 {
        width: 75%;
    }

    .form button {
        width: 100%;
    }
}