#entries {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.entry {
    display: grid;
    grid-template-columns: max-content auto;
    gap: .5rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    background-color: var(--overlay-dark);
    padding: var(--indent-sm) 0 var(--indent-sm) var(--indent-sm);
}

.page-icon {
    margin-top: var(--indent-sm);
}

.entry-content {
    display: grid;
    gap: .25rem .5rem;
    grid-template-columns: 1fr repeat(2, auto);
    padding-right: 1rem;
    align-items: center;
}

.entry .notes,
.tags {
    grid-column: span 3;
}

.date {
    font-weight: bold;
}

.tags {
    display: flex;
    gap: .75rem;
}

.tag {
    background-color: var(--overlay-dark);
    color: var(--accent-light);
    font-size: 75%;
    padding: .05rem .75rem;
    border-radius: var(--corners);
}

.weight {
    text-align: end;
}

.entry-buttons {
    /* grid-column: span 2; */
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.entry-buttons .btn {
    background-color: transparent;
    padding: 0 .5rem;
    font-family: var(--text-header);
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    #entries {
        height: 100%;
        overflow-y: scroll;
        background-color: var(--overlay-dark);
        padding: var(--indent) 0 0 var(--indent);
        border-top-left-radius: 3rem;
    }

    .entry {
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
        padding: var(--indent) 0 var(--indent) var(--indent);
    }

    #weight {
        width: 5rem;
    }
}