#entry-form {
    grid-template-columns: repeat(2, auto);
}

/* form entry details */
.form-details {
    gap: .5rem;
}

input {
    /* padding: var(--indent-sm) var(--indent); */
    width: 100%;
    border: none;
    font-variant: normal;
    border-radius: .25rem;
}

#entry-text,
#entry-tags,
.button-wrapper {
    grid-column: span 2;
}

#weight {
    width: 4rem;
}

textarea {
    /* height: 5rem; */
    padding: calc(var(--indent)/2) var(--indent);
}

input::placeholder {
    color: rgba(0, 0, 0, .5);
}

#entry-form button {
    grid-column: span 2;
    background-color: var(--primary);
    width: 100%;
}

@media screen and (min-width: 1024px) {
    #entry-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }

    label {
        font-size: 100%;
    }

    .form-details {
        gap: 0 .5rem;
        display: flex;
        flex-direction: column;
    }

    #entry-date,
    #entry-weight {
        grid-template-columns: 5rem 1fr;
    }

    #entry-text,
    #entry-tags {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #entry-text {
        height: 25vh;
    }

    #tag-name {
        padding: var(--indent-sm);
    }

    textarea {
        flex-grow: 1;
    }
    
    #weight {
        width: 7rem;
    }
}