#entry-form {
    grid-template-columns: repeat(2, auto);
}

/* form entry details */
#entry-text,
#entry-tags,
.button-wrapper {
    grid-column: span 2;
}

#weight {
    width: 4rem;
}

input::placeholder {
    color: rgba(0, 0, 0, .5);
}

@media screen and (min-width: 768px) {
    #entry-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }

    label {
        font-size: 100%;
    }

    .form-details {
        gap: 0 var(--indent-sm);
        display: flex;
        flex-direction: column;
    }

    #entry-date,
    #entry-weight {
        grid-template-columns: 5rem 1fr;
    }

    #entry-text,
    #entry-tags {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #entry-text {
        height: 100%;
    }

    #tag-name {
        padding: var(--indent-sm);
    }

    textarea {
        flex-grow: 1;
    }
    
    #weight {
        width: 7rem;
    }
}