/* ol | .list */
.entry-content {
    display: grid;
    gap: 0 .5rem;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.entry .notes,
.tags {
    grid-column: span 2;
}

.date, .weight {
    font-weight: bold;
}

.tags {
    display: flex;
    gap: .75rem;
}

.tag {
    background-color: var(--overlay-dark);
    color: var(--accent-light);
    font-size: 75%;
    padding: .05rem .75rem;
    border-radius: var(--corners);
}

.weight {
    text-align: end;
}

.entry-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.entry-buttons .btn {
    background-color: transparent;
    padding: 0 .5rem;
    font-family: var(--text-header);
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .date, .weight {
        font-size: 1.5rem;
    }
}