#journal-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: .25rem .5rem;
    border-top-left-radius: 2.25rem;
    border-bottom-left-radius: 2.25rem;
    background-color: var(--overlay-dark);
    padding: var(--indent-sm) 0 var(--indent-sm) var(--indent-sm);
}

#title-wrapper,
#description-wrapper,
.button-wrapper {
    grid-column: span 3;
}

/* button column */
.button-wrapper {
    justify-content: center;
    justify-self: center;
    display: flex;
    border: dashed 2px var(--secondary);
    border-radius: var(--corners);
    padding: .25rem;
    transition: 1s;
    cursor: pointer;
    width: 100%;
}

.button-wrapper:hover {
    background-color: var(--link);
    box-shadow: 0 0 1rem var(--link);
}

#add-journal-btn {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    border: none;
}

label {
    padding-left: var(--indent);
}

/* journal form inputs */
.journal-text,
.date {
    display: flex;
    flex-direction: column;
}

/* journal text rows */
#journal-title,
#journal-description {
    padding: var(--indent-sm) var(--indent);
    border-top-left-radius: 2.25rem;
    border-bottom-left-radius: 2.25rem;
    font-size: 1.5rem;
}

#journal-description {
    width: 100%;
    height: 5rem;
}

/* journal date row */
.date-details {
    height: 1.5rem;
}

#journal-end {
    font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
    #journal-form {
        align-items: flex-start;
        grid-template-columns: 1fr auto;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "a c"
        "b d"
        "b e"
        "b f";
        gap: .25rem 1rem;
        padding: var(--indent);
    }

    /* .form-section,
    .form-section * {
        outline: 1px dashed white;
    } */

    .form {
        border-radius: 2rem;
        background-color: var(--overlay-dark);
        padding: var(--indent-sm) var(--indent);
    }

    #journal-title,
    #journal-description {
        padding: var(--indent-sm) var(--indent);
        border-radius: 1rem;
        /* grid-column: span 1; */
    }

    #title-wrapper {
        grid-area: a;
    }

    #description-wrapper {
        grid-area: b;
        height: 100%;
    }

    #start-date-wrapper {
        grid-area: c;
    }

    #end-date-wrapper {
        grid-area: d;
    }

    #duration-wrapper {
        grid-area: e;
    }

    .button-wrapper {
        grid-area: f;
        align-self: flex-end;
    }

    #journal-description {
        height: inherit;
    }

    label {
        padding: 0;
        font-size: 2rem;
    }

    .date {
        text-align: end;
    }

    .date-details {
        height: inherit;
    }
    
    #duration-wrapper div {
        display: grid;
        grid-template-columns: repeat(2, auto);
        width: 100%;
        gap: .5rem;
    }
}

@media screen and (min-width: 1024px) {
    #journal-form {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, max-content);
        grid-template-areas: 
        "a a a"
        "b b b"
        "c d e"
        "f f f";
        flex-grow: 1;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}