* {
    outline: 1px dotted white
}

#entries {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.entry {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: .25rem .5rem;
    border-radius: .5rem;
    background-color: var(--overlay-dark);
    padding: .25rem;
}

.entry .notes, .tags {
    grid-column: span 2;
}



.tags {
    display: flex;
    gap: .75rem;
    justify-content: flex-end;
}

.tag {
    background-color: var(--overlay-dark);
    color: var(--accent-light);
    font-size: 75%;
    padding: .05rem .75rem;
    border-radius: var(--corners);
}

/* .oldest {
    flex-direction: column-reverse;
} */