#entry-form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: .25rem .5rem;
    align-items: flex-end;
    border-radius: .5rem;
    background-color: var(--overlay-dark);
    padding: .25rem .25rem .25rem .5rem;
}

/* form entry details */
.form-details {
    display: grid;
    gap: .5rem;
}

label {
    font-size: 95%;
    width: 100%;
}

input {
    padding: 0 .25rem;
    width: 100%;
    border: none;
    font-variant: normal;
    height: 100%;
    border-radius: .25rem;
}

#entry-text,
#entry-tags {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 2.25rem 1fr;
    gap: .5rem;
}

#entry-date {
    grid-template-columns: 2.25rem 1fr;
}

#entry-weight {
    grid-template-columns: auto 1fr;
}

#weight {
    width: 3rem;
}

textarea {
    height: 5rem;
    padding: calc(var(--indent)/2) var(--indent);
}

input::placeholder {
    color: rgba(0, 0, 0, .5);
}

#entry-form button {
    grid-column: span 2;
    background-color: var(--primary);
    width: 100%;
}

@media screen and (min-width: 1024px) {
    #entry-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        border-radius: 0;
        border-top-right-radius: 4rem;
    }

    label {
        font-size: 100%;
    }

    .form-details {
        gap: 0 .5rem;
    }

    #entry-date,
    #entry-weight {
        grid-template-columns: 5rem 1fr;
    }

    #entry-text,
    #entry-tags {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #entry-text {
        height: 25vh;
    }

    textarea {
        flex-grow: 1;
    }
}