#profile-wrapper {
    background-color: var(--overlay-dark);
    margin-left: var(--space-sm);
    padding: var(--space) 0 var(--space) var(--space);
    border-radius: 4rem 0 0 4rem;
}

#profile {
    grid-template-columns: auto 1fr;
    gap: 0 var(--space);
    padding: var(--space) calc(var(--space) * 2);
}

h3 {
    grid-column: span 2;
}

#details {
    font-weight: bold;
}

@media screen {
    main {
        display: flex;
        flex-direction: row;
    }

    #profile-section {
        flex-grow: 1;
    }
}