#profile-section {
    height: inherit;
}

#profile-details {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, min-content) ;
    gap: 0 var(--indent);
    padding-left: calc(var(--indent) * 2);
}

h3 {
    grid-column: span 2;
}

#profile-details a {
    font-weight: bold;
}