main {
    background-color: var(--secondary);
    padding: 0 var(--indent);
}

#entry-form {
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    gap: 0 .25rem;
    align-items: flex-end;
    border-radius: .5rem;
    background-color: var(--overlay-dark);
    padding: .125rem;
}

#entry-form h3 {
    padding-left: calc(var(--indent)/2);
}

#entry-form .details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: auto;
}

input {
    height: 1.2rem;
}

#entry-date {
    width: 7rem;
}

#entry-weight {
    width: 3rem;
}

label {
    font-size: 95%;
    width: 100%;
}

input {
    padding: 0 .25rem;
    margin-bottom: .25rem;
    width: 100%;
    border: none;
    font-variant: normal;
}

#entry-form button, #entry-text {
    grid-column: span 3;
}

#entry-text {
    display: flex;
    flex-direction: column;
}

textarea {
    height: 5rem;
    resize: none;
    padding: calc(var(--indent)/2) var(--indent);
}

#entry-form button {
    margin-top: .75rem;
}

