:root {
    --primary: rgb(38, 45, 60);
    --secondary: rgb(104, 134, 147);
    --accent: rgb(0, 0, 0);
    --link: rgb(122, 39, 39);
    --text-dark: rgb(28, 26, 26);
    --text-light: rgb(214, 235, 237);
    --text-header: 'Raleway', sans-serif;
    --text-body: 'Alegreya Sans', sans-serif;
    --corners: 25rem;
    --indent: 1rem;
}

* {
    box-sizing: border-box;
    /* outline: 1px dotted blue; */
    padding: 0;
    margin: 0;
}

/* divs */
body,
header,
main {
    display: flex;
}

body,
main {
    flex-direction: column;
}

body {
    background-color: var(--primary);
    padding: 0 var(--indent);
    min-height: 100vh;
    font-variant: small-caps;
}

footer {
    text-align: center;
}

header {
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    font-family: var(--text-header);
    background-color: var(--secondary);
    padding: 0 var(--indent);
}

main {
    flex-grow: 1;
    font-family: var(--text-body);
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* lists */
ul,
ol {
    list-style: none;
}

/* buttons */
.btn {
    background-color: var(--primary);
    border-radius: var(--corners);
    border: none;
    padding: .25rem var(--indent);
}

nav .btn {
    color: var(--text-light);
}

/* typography */
a {
    color: inherit;
    text-decoration: none;
    transition: color 1s;
}

a:hover {
    color: var(--link);
}