:root {
    --primary: rgb(68, 79, 104);
    --secondary: rgba(156, 199, 221, 0.95);
    --link: rgb(218, 218, 218);
    --accent-dark: rgb(28, 26, 26);
    --accent-light: rgb(214, 235, 237);
    --overlay-dark: hsla(199, 17%, 25%, 0.246);
    --text-header: 'Raleway', sans-serif;
    --text-body: 'Alegreya Sans', sans-serif;
    --corners: 25rem;
    --indent: 1rem;
    --indent-sm: calc(var(--indent)/2);
    --section-indent: var(--indent-sm) 0 var(--indent-sm) var(--indent-sm)
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* mobile display */
body,
main,
footer,
.nav-links,
main section,
.list {
    display: flex;
}

body,
main,
main section,
.list {
    flex-direction: column;
}

body {
    background-color: var(--primary);
    height: 100vh;
    font-variant: small-caps;
    font-size: 1.25rem;
}

footer {
    color: var(--overlay-dark);
    text-align: center;
    background-color: var(--secondary);
    padding-left: var(--indent-sm);
    justify-content: center;
    gap: var(--indent-sm);
}

/* header styles */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--primary);
    box-shadow: 0 0 1rem var(--primary);
    padding: .5rem 0;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    font-family: var(--text-header);
}

h1 {
    padding-right: 1rem;
    border-right: 1px solid var(--accent-dark);
}

.nav-links {
    justify-content: space-around;
}

.icon-wrapper {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
}

.icon {
    width: inherit;
    height: inherit;
}

/* main */
main {
    flex-grow: 1;
    font-family: var(--text-body);
    gap: 0 var(--indent);
    background-color: var(--secondary);
    overflow-y: scroll;
}

.section-header {
    margin-bottom: 1rem;
    padding: 0 .25rem 0 1rem;
    border-bottom: 2px solid var(--overlay-dark);
    width: 95%;
}

.form {
    display: grid;
    background-color: var(--overlay-dark);
    gap: .5rem;
}

/* - main | section#form-section */
.form-section .form,
#profile-details {
    margin-left: var(--indent-sm);
    padding: var(--indent) var(--indent-sm) var(--indent) calc(var(--indent) + var(--indent-sm));
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
}

.form .input-wrapper {
    display: flex;
    flex-direction: column;
}

.form label {
    padding-left: var(--indent);
}

.list,
#profile-details {
    background-color: var(--overlay-dark);
    gap: 1rem;
    margin-left: var(--indent-sm);
    border-top-left-radius: 4rem;
    padding: var(--indent) 0 var(--indent-sm) var(--indent);
}

.item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: .5rem;
    padding: var(--section-indent);
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    background-color: var(--secondary);
}

/* .item | columns */
.item-icon-container {
    height: max-content;
    align-self: center;
    border: 1px solid var(--overlay-dark);
    padding: 1rem;
    border-radius: 50%;
}

.item-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: .25rem .5rem 0 0;
}

.item-options .icon-wrapper {
    --size: 1.5rem;
    width: var(--size);
    height: var(--size);
}

/* lists */
ul,
ol {
    list-style: none;
}

/* buttons */
.btn {
    border: none;
    transition: 1s;
    font-variant: small-caps;
}

.form-btn {
    border-top-left-radius: var(--corners);
    border-bottom-left-radius: var(--corners);
}

.delete-journal-btn {
    cursor: pointer;
}

/* form label & input fields */
textarea {
    resize: none;
    /* flex-grow: 1; */
}

.input {
    font-size: 1.5rem;
    padding: var(--indent-sm) var(--indent);
}

.input,
input[type="date"],
#weight,
select {
    background-color: var(--overlay-dark);
    color: var(--accent-dark);
    transition: 1s;
    border: none;
    border-radius: 1rem;
}

input[type="date"],
#weight,
select {
    padding: .25rem .5rem;
    font-size: 75%;
}

.input:focus,
input[type="date"]:focus,
#weight:focus,
select:focus {
    background-color: var(--secondary);
    outline: none;
}

.button-wrapper {
    justify-content: center;
    justify-self: center;
    display: flex;
    border: dashed 2px var(--secondary);
    border-radius: var(--corners);
    padding: .25rem;
    transition: 1s;
    cursor: pointer;
    width: 100%;
}

.button-wrapper:hover,
.form-btn:hover {
    background-color: var(--accent-light);
    box-shadow: 0 0 1rem var(--accent-light);
}

.submit-btn {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    border: none;
}

/* typography */
a {
    color: inherit;
    text-decoration: none;
    transition: color 1s;
}

a:hover,
.char-limit {
    color: var(--secondary);
}

.end-value {
    background-color: var(--overlay-dark);
}

/* svg icons */
.icon-wrapper {
    transition: 1s;
}

.nav-links a {
    transition: 1s;
}

.nav-links a:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 1rem 1rem var(--secondary);
}

@media screen and (min-width: 768px) {
    body {
        font-size: 2rem;
    }

    /* header divs */
    header {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 2rem;
        font-size: 1.5rem;
        box-shadow: 0 0 1rem var(--primary);
        border-bottom: none;
        background-color: var(--primary);
    }

    .nav-links {
        justify-content: space-around;
    }

    /* main | homepage & journal views */
    main {
        display: grid;
        grid-template-columns: 22.5rem auto;
        height: 100vh;
        align-items: flex-start;
    }

    /* section | form-section */
    .form-section {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .form-section .form,
    #profile-details {
        padding: var(--indent);
        border-radius: 0;
        border-top-right-radius: 5rem;
        margin: 0;
    }

    .form-section .form label {
        margin: 0;
    }

    .input {
        border-radius: 1rem;
    }

    /* - list section */
    .list-section {
        height: inherit;
    }

    .list {
        border-top-left-radius: 5rem;
        height: inherit;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
    }

    .item-icon {
        --size: 5rem;
        width: var(--size);
        height: var(--size);
    }

    /* footer */
    footer {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

    /* scrollbar */
    ::-webkit-scrollbar {
        width: .5rem;
    }

    ::-webkit-scrollbar-track {
        background: var(--overlay-dark);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--primary);
        border-radius: 1rem;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--accent-dark);
    }

    /* divs */
    body {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr max-content;
        grid-template-areas:
            "a b"
            "c b";
    }

    /* body divs */
    header {
        grid-area: a;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        box-shadow: none;
    }

    footer {
        display: flex;
        grid-area: c;
        flex-direction: column;
        height: max-content;
        color: var(--accent-dark);
        font-size: 1rem;
        align-items: center;
        background-color: transparent;
    }

    main {
        grid-area: b;
    }

    /* - header divs */
    h1 {
        margin-left: var(--indent-sm);
        padding: 0 var(--indent-sm);
        border-right: none;
        border-bottom: 2px solid var(--secondary);
    }

    .nav-links {
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-links a {
        border-radius: 50%;
    }

    .nav-links .icon-wrapper {
        --size: 3rem;
    }

    /* footer divs */
    footer a {
        width: fit-content;
        border-top: 1px double var(--primary);
        padding: 0 var(--indent-sm);
    }


    /* main | homepage & journal views */
    .section-header {
        padding-right: 0;
    }

    /* section | form-section */
    .form-section {
        display: flex;
        flex-direction: column;
    }

    .form-section .form {
        border-radius: 0;
        border-top-right-radius: 5rem;
        margin: 0;
    }

    .form-section .form label {
        margin: 0;
    }

    /* section | list-section */
    .list-section {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .list-section .section-header {
        width: 100%;
    }

    .list {
        margin: 0;
        font-size: 1.5rem;
        flex-grow: 1;
    }

    .item {
        padding: var(--indent) 0 var(--indent) var(--indent);
    }

    .item-icon {
        --size: 3rem;
    }

    .item-options .icon-wrapper {
        --size: 1.5rem;
    }

    input[type="date"], #weight, select {
        width: max-content;
        font-size: 50%;
    }
    
}