:root {
    --primary: rgb(68, 79, 104);
    --secondary: rgba(156, 199, 221, 0.95);
    --accent: rgb(0, 0, 0);
    --link: rgb(218, 218, 218);
    --accent-dark: rgb(28, 26, 26);
    --accent-light: rgb(214, 235, 237);
    --input: rgba(38, 45, 60, 0.099);
    --overlay-dark: hsla(199, 17%, 25%, 0.246);
    --text-header: 'Raleway', sans-serif;
    --text-body: 'Alegreya Sans', sans-serif;
    --rounded-corner: 1.25rem;
    --corners: 25rem;
    --indent: 1rem;
    --indent-sm: calc(var(--indent)/2);
    --section-indent: var(--indent-sm) 0 var(--indent-sm) var(--indent-sm)
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.icon-wrapper {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
}

.icon {
    width: inherit;
    height: inherit;
}

/* divs */
body,
main,
footer,
.nav-links,
.list {
    display: flex;
}

body,
main,
.list {
    flex-direction: column;
}

body {
    background-color: var(--primary);
    padding-left: calc(var(--indent)/2);
    min-height: 100vh;
    font-variant: small-caps;
    font-size: 1.25rem;
}

footer {
    color: var(--overlay-dark);
    text-align: center;
    background-color: var(--secondary);
    padding-left: var(--indent-sm);
}

footer p {
    background-color: var(--overlay-dark);
    flex-grow: 1;
}

/* header styles */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--primary);
    box-shadow: 0 0 1rem var(--primary);
    padding: .5rem 0;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    font-family: var(--text-header);
}

h1 {
    padding-right: 1rem;
    border-right: 1px solid var(--accent-dark);
}

.nav-links {
    justify-content: space-around;
}

/* main styles */
main {
    flex-grow: 1;
    font-family: var(--text-body);
    gap: var(--indent);
    background-color: var(--secondary);
}

.form {
    margin-left: var(--indent-sm);
}

.section-header {
    margin-bottom: 1rem;
    padding: 0 .25rem 0 1rem;
    border-bottom: 2px solid var(--overlay-dark);
    width: 95%;
}

/* .section {
    gap: .25rem;
    margin-left: var(--indent-sm);
    border-top-left-radius: 4rem;
    padding: var(--indent) 0 var(--indent-sm) var(--indent);
} */

.list {
    background-color: var(--overlay-dark);
    gap: 1rem;
    margin-left: var(--indent-sm);
    border-top-left-radius: 4rem;
    padding: var(--indent) 0 var(--indent-sm) var(--indent);
}

.item {
    display: grid;
    gap: .5rem;
    padding: var(--section-indent);
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
}

/* lists */
ul,
ol {
    list-style: none;
}

/* buttons */
.btn {
    border: none;
    transition: 1s;
    font-variant: small-caps;
}

.form-btn {
    border-top-left-radius: var(--corners);
    border-bottom-left-radius: var(--corners);
}

.delete-journal-btn {
    cursor: pointer;
}

/* form label & input fields */
textarea {
    resize: none;
}

.input {
    background-color: var(--input);
    color: var(--accent-dark);
    transition: 1s;
    border: none;
    border-radius: .12rem;
}

.input:focus {
    background-color: var(--secondary);
    outline: none;
}

.button-wrapper {
    justify-content: center;
    justify-self: center;
    display: flex;
    border: dashed 2px var(--secondary);
    border-radius: var(--corners);
    padding: .25rem;
    transition: 1s;
    cursor: pointer;
    width: 100%;
}

.button-wrapper:hover {
    background-color: var(--link);
    box-shadow: 0 0 1rem var(--link);
}

.form button:hover {
    background-color: var(--accent-light);
    box-shadow: 0 0 1rem var(--accent-light);
}

.submit-btn {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    border: none;
}

/* typography */
a {
    color: inherit;
    text-decoration: none;
    transition: color 1s;
}

a:hover {
    color: var(--link);
}

/* svg icons */
.icon-wrapper {
    transition: 1s;
}

.nav-links a {
    transition: 1s;
}

.nav-links a:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 1rem 1rem var(--secondary);
}

.form-section .form {
    padding: var(--indent-sm) 0 var(--indent-sm) var(--indent-sm);
}

@media screen and (min-width: 768px) {
    body {
        font-size: 2rem;
    }

    header {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 2rem;
        font-size: 1.5rem;
        box-shadow: 0 0 1rem var(--primary);
        border-bottom: none;
        background-color: var(--primary);
    }

    .nav-links {
        justify-content: space-between;
    }

    /* main | form section */
    .form-section .form {
        padding: var(--indent);
    }

    .input {
        border-radius: 1rem;
    }

    /* section | .list-section */
    .list {
        border-top-left-radius: 5rem;
    }
}

@media screen and (min-width: 1024px) {

    /* scrollbar */
    ::-webkit-scrollbar {
        width: .5rem;
    }

    ::-webkit-scrollbar-track {
        background: var(--overlay-dark);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--primary);
        border-radius: 1rem;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--accent-dark);
    }

    /* divs */
    body,
    footer {
        padding: 0;
    }

    footer p {
        background-color: transparent;
        flex-grow: 0;
    }

    .nav-links {
        justify-content: space-around;
    }

    body {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr max-content;
        grid-template-areas:
            "a b"
            "c b";
    }

    /* body divs */
    header {
        grid-area: a;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        box-shadow: none;
    }

    footer {
        grid-area: c;
        flex-direction: column-reverse;
        height: max-content;
        color: var(--accent);
        font-size: 1rem;
        align-items: center;
        background-color: transparent;
    }

    main {
        grid-area: b;
        flex-direction: row;
        padding: 0;
    }

    /* - header divs */
    h1 {
        margin-left: var(--indent-sm);
        padding: 0 var(--indent-sm);
        border-right: none;
        border-bottom: 2px solid var(--secondary);
    }

    .nav-links {
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-links a {
        border-radius: 50%;
    }

    /* footer divs */
    footer a {
        width: fit-content;
        border-top: 1px double var(--primary);
        padding: 0 var(--indent-sm);
    }

    .icon-wrapper {
        --size: 3rem;
    }

    /* main | homepage & journal views */
    /* section.form-section
        - h2.section-header
        - form.form
        section.list-section
        - h2.section-header
        - ol.list */
        
    .list {
        margin: 0;
    }
    
    .section-header {
        padding-right: 0;
    }

    /* section | .section #form-section */
    .form-section {
        display: flex;
        flex-direction: column;
    }

    .form-section .form {
        border-radius: 0;
        border-top-right-radius: 5rem;
        margin: 0;
        gap: .5rem;
    }

    .form-section .form label {
        margin: 0;
    }

    /* section | .section #items-section */
    .item {
        background-color: var(--secondary);
    }
}