.list-section {
    width: 100%;
}

.list {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    border-radius: 4rem 0 0 4rem;
    justify-content: flex-end;
}

.item {
    padding: var(--space-sm) var(--space);
    display: flex;
    align-items: center;
    height: max-content;
}

@media screen and (min-width: 768px) {
    .form-section .form {
        border-radius: 0 5rem 4rem 0;
        padding-bottom: calc(var(--space) * 2);
    }

    .list {
        height: auto;
        font-weight: bold;
    }
}