:root {
    --primary: #27332f;
    --secondary: #b4f1d49c;
    --tertiary: #5e69639c;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

p {
    padding: 15px;
}

.container {
    display: inline-block;
}

body, .card-body {
    background-color: var(--secondary);
    color: var(--primary);
}

/* HEADER */
header, .card-header {
    padding: 20px;
    background-color: var(--primary);
    color: var(--secondary);
}

header, .card-header h2 {
    font-variant: small-caps;
}

header h1, nav ul li {
    padding: 10px 30px;
}

header h1 {
    border-radius: 10px;
    font-weight: bolder;
    border-bottom: 2px solid var(--tertiary);
    border-right: 2px solid var(--tertiary);
}

nav {
    display: flex;
}